<div class="chat-container">
  <mat-toolbar-row class="chat-header">
    <h4 class="logo"> SP Chat Client</h4>
    <h4>{{currentView}}</h4>
    <span class="userProfile">
      <span class="logout">
          <mat-icon (click)="sendLogout()">power_settings_new</mat-icon>
          <mat-icon *ngIf="inChatView" (click)="openUserSettings()">account_circle</mat-icon>
      </span>
    </span>
  </mat-toolbar-row>
  <main class="chat-main">
    <div class="chat-sidebar">
      <h3><i class="fas fa-comments"></i> Rooms:</h3>
      <div id="all rooms" *ngFor="let room of rooms">
        <h2 (click)="switchRoom(room)">{{room.getName()}}
          <div *ngIf="room.unreadMessages > 0"> {{room.unreadMessages}}</div>
          <button (click)="toggleShowRoomCommands()">Commands</button>
          <ul id="room-commands" *ngIf="roomCommandShown">
            <li (click)="sendLeaveRoom(room.getName())">leave</li>
            <ul id="op-room-commands" *ngIf="room.isLoggedInUserOp()">
              <li>
                <label><input type="checkbox" [checked]="room.isVoiceReq" (change)="sendSetVoiceRoom(room) ">Require
                  voice
                  to speak</label>
              </li>
              <li>
                <label><input type="checkbox" [checked]="room.isInviteReq" (change)="sendSetInviteRoom(room) ">Require
                  invitation to join</label>
              </li>
              <li>
                <form [formGroup]="inviteUserForm" (ngSubmit)="sendInviteUser(room.getName())">
                  <input
                    type="email"
                    placeholder="Enter user mail"
                    required
                    formControlName="userToInvite">
                  <button type="submit">Invite</button>
                </form>
              </li>
            </ul>
          </ul>
        </h2>
      </div>

      <form id="joinRoom-form" [formGroup]="joinRoomForm" (ngSubmit)="sendJoinRoom()">
        <input
          id="roomName"
          type="text"
          placeholder="Join new room"
          required
          autocomplete="off"
          formControlName="roomName"
        />
        <button class="btn"><i class="fas fa-plus-circle"></i></button>
      </form>
      <ng-container *ngIf="inChatView">
        <h2><i class="fas fa-users"></i> Users</h2>
        <div id="users">
          <div *ngFor=" let user of currentChatroom.users">
            <div *ngIf="!user.hasLeft">
              {{user.userName}}
              <button
                (click)="toggleShowUserCommands(user)"
                *ngIf="currentChatroom.isLoggedInUserOp()"
              >Commands
              </button>
              <div *ngIf="currentChatroom.hasUserVoice(user.email)">voice</div>
              <div *ngIf="currentChatroom.isUserOp(user.email)">op</div>
            </div>
          </div>
          <ul *ngIf="userCommandShown">
            <li>
              <label><input type="checkbox" [checked]="currentChatroom.hasUserVoice(userForCommands.email)"
                            (change)="sendGrantVoice(userForCommands)">
                Grant Voice</label>
            </li>
            <li>
              <label><input type="checkbox" [checked]="currentChatroom.isUserOp(userForCommands.email)"
                            (change)="sendGrantOp(userForCommands)">
                Grant Op</label>
            </li>
            <li>
              <button type="button" (click)="sendKickUser(userForCommands)">Kick</button>
            </li>
          </ul>
        </div>
      </ng-container>

    </div>
    <div class="chat-messages" *ngIf="inChatView">
      <div class="message" *ngFor="let messageBlock of currentChatroom.messages">
        <p class="meta">{{currentChatroom.getUser(messageBlock.email)!.userName}}
          <span> {{messageBlock.timeStamp}}</span></p>
        <div *ngFor="let message of messageBlock.messages">
          <p class="text">
            {{message.message}}
          </p>
        </div>
      </div>
    </div>
    <ProfileComponent
      *ngIf="!inChatView"
      [username]="username"
      (renameUserEvent)="receiveRenameUserEvent($event)"
      (changePasswordEvent)="receiveChangePasswordEvent($event)"
    ></ProfileComponent>
  </main>

  <div class="chat-form-container" *ngIf="inChatView">
    <ng-template #voiceView>
      <form id="chat-form" [formGroup]="sendMessageForm" (ngSubmit)="sendMessage()">
        <input
          id="msg"
          type="text"
          placeholder="Enter Message"
          required
          autocomplete="off"
          formControlName="message"
        />
        <button class="send-btn"><i class="fas fa-paper-plane"></i> Send</button>
      </form>
    </ng-template>

    <ng-template *ngIf="(!currentChatroom.hasLoggedInUserVoice() && currentChatroom.isVoiceReq) else voiceView">
      You are a spectator
    </ng-template>

  </div>
</div>
