<div class="chat-container">
  <header class="chat-header">
    <h5><i class="fas fa-smile"></i> SP Chat Client</h5>
    <h4>{{currentView}}</h4>
    <h5>
      <div class="userProfile">
        <h5 (click)="logout()"><a>Logout</a></h5>
        <i *ngIf="inChatView" (click)="openUserSettings()" class="fas fa-user-alt"></i>
      </div>
    </h5>
    <!--    <a href="index.html" class="btn">Leave Room</a>-->
  </header>
  <main class="chat-main">
    <div class="chat-sidebar">
      <h3><i class="fas fa-comments"></i> Rooms:</h3>
      <div id="room-name" *ngFor="let room of rooms">
        <h2 (click)="switchRoom(room)">{{room.name}} </h2>
        <div (click)="leaveRoom(room.name)">leave</div>
      </div>

      <form id="joinRoom-form" [formGroup]="joinRoomForm" (ngSubmit)="joinRoom()">
        <input
          id="roomName"
          type="text"
          placeholder="Join new room"
          required
          autocomplete="off"
          formControlName="roomName"
        />
        <button class="btn"><i class="fas fa-plus-circle"></i></button>
      </form>
      <ng-container *ngIf="inChatView">
        <h2><i class="fas fa-users"></i> Users</h2>
        <ul id="users">
          <li *ngFor=" let user of currentChatroom.users">{{user.userName}}</li>
        </ul>
      </ng-container>

    </div>
    <div class="chat-messages" *ngIf="inChatView">
      <div class="message" *ngFor="let message of currentChatroom.messages">
        <p class="meta">{{message.userName}}<span> 9:12pm</span></p>
        <p class="text">
          {{message.message}}
        </p>
      </div>
    </div>
    <ProfileComponent *ngIf="!inChatView"></ProfileComponent>
  </main>

  <div class="chat-form-container">
    <form id="chat-form" [formGroup]="sendMessageForm" (ngSubmit)="sendMessage()" *ngIf="inChatView">
      <input
        id="msg"
        type="text"
        placeholder="Enter Message"
        required
        autocomplete="off"
        formControlName="message"
      />
      <button class="btn"><i class="fas fa-paper-plane"></i> Send</button>
    </form>
  </div>
</div>
