@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --dark-color-a: #667aff;
  --dark-color-b: #7386ff;
  --hover-color: #319ae0;
  --light-color: #ffffff;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background: var(--light-color);
  margin: 20px;
}

h1 {
  color: white;
}

/* Join Page */
.join-container {
  max-width: 500px;
  margin: 80px auto;
  color: black;
  background-color: #ffffff;
  border-color: var(--dark-color-a);
  border-style: solid;
  border-radius: 10px;
}

.join-header {
  text-align: center;
  padding: 20px;
  background: var(--dark-color-a);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.join-main {
  padding: 30px 40px;
  background: var(--light-color);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.join-main input[type='text'], input[type='password'], input[type='email'] {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
}

.join-main .btn {
  margin-top: 20px;
  width: 100%;
}

.btn {
  width: 100%;
}

.btn:hover {
  background-color: #319ae0;;
  color: white;
}

form {
  display: grid;
}

