<div class="join-container" *ngIf="inLogin  else registerView">
  <header class="join-header">
    <h1><i class="fas fa-smile"></i> SP Chat Client</h1>
  </header>
  <main class="join-main">
    <form [formGroup]="loginData" (ngSubmit)="login()">
      <div class="form-control">
        <label for="email">Email</label>
        <input
          type="text"
          name="email"
          id="email"
          placeholder="Enter email..."
          required
          formControlName="email"
        />
      </div>
      <div class="form-control">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Enter password..."
          required
          formControlName="password"
        />
      </div>
      <button type="submit" class="btn">Login</button>
      <button type="button" class="btn" (click)="switchToRegisterView()">Register Here</button>
    </form>
  </main>
</div>

<ng-template #registerView>
  <div class="join-container">
    <header class="join-header">
      <h1><i class="fas fa-smile"></i> SP Chat Client</h1>
    </header>
    <main class="join-main">
      <form [formGroup]="registerData" (ngSubmit)="register()">
        <div class="form-control">
          <label for="email">Email</label>
          <input
            type="text"
            name="email"
            id="email_register"
            placeholder="Enter email..."
            required
            formControlName="email"
          />
        </div>
        <div class="form-control">
          <label for="email">Username</label>
          <input
            type="text"
            name="email"
            id="userName"
            placeholder="Enter username..."
            required
            formControlName="username"
          />
        </div>
        <div class="form-control">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            id="password_register"
            placeholder="Enter password..."
            required
            formControlName="password"
          />
        </div>
        <div class="form-control">
          <label for="password">Confirm Password</label>
          <input
            type="password"
            name="password"
            id="password_confirm"
            placeholder="Confirm password..."
            required
            formControlName="passwordConfirm"
          />
        </div>
        <button type="submit" class="btn" >Register</button>
        <button type="button" class="btn" (click)="switchToLoginView()">Back To Login</button>
      </form>
    </main>
  </div>
</ng-template>
