<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
      <h2 class="h3 mb-4 page-title">Profile</h2>
      <hr class="my-4"/>
      <div class="my-4">
        <form id="change-username-form" [formGroup]="usernameFormGroup" (ngSubmit)="renameUser()">
          <div class="row mb-4">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="username">Username</label>
                <input
                  type="text"
                  id="username"
                  class="form-control"
                  placeholder="{{username}}"
                  required
                  formControlName="usernameInput"
                />
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail4">Email</label>
              <input
                type="email"
                class="form-control"
                id="inputEmail4"
                placeholder="{{email}}"
                readonly/>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Change Username</button>
        </form>
        <!-- Password reset         -->
        <form  [formGroup]="changePasswordFormGroup" (ngSubmit)="changePassword()">
          <hr class="my-4"/>
          <div class="row mb-4">
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputPassword4">Old Password</label>
                <input type="password" class="form-control" id="inputPassword4" formControlName="oldPassword"/>
              </div>
              <div class="form-group">
                <label for="inputPassword5">New Password</label>
                <input type="password" class="form-control" id="inputPassword5"  formControlName="newPassword"/>
              </div>
              <div class="form-group">
                <label for="inputPassword6">Confirm Password</label>
                <input type="password" class="form-control" id="inputPassword6" formControlName="confirmPassword"/>
              </div>
            </div>
<!--            <div class="col-md-6">-->
<!--              <p class="mb-2">Password requirements</p>-->
<!--              <p class="small text-muted mb-2">To create a new password, you have to meet all of the following-->
<!--                requirements:</p>-->
<!--              <ul class="small text-muted pl-4 mb-0">-->
<!--                <li>Minimum 8 character</li>-->
<!--                <li>At least one special character</li>-->
<!--                <li>At least one number</li>-->
<!--                <li>Can’t be the same as a previous password</li>-->
<!--              </ul>-->
<!--            </div>-->
          </div>
          <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
      </div>
    </div>
  </div>

</div>
